{
    "presets": ["react","stage-2", [
        "env", {
            "targets": {
                "node": true
            }
        }
    ]],
    "plugins": ["babel-plugin-transform-runtime"],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "plugins": [
                "transform-react-constant-elements", 
                "transform-runtime", 
                "transform-react-remove-prop-types"
            ]
        }
    }
}