{
    "presets": ["react","stage-2", [
        "env", {
            "targets": {
                "node": "current"
            }
        }
    ]],
    "plugins": [],
    "env": {
        "development": {
            "plugins": [
                ["transform-runtime",{
                    "regenerator": true
                }],
                "transform-object-rest-spread",
                "syntax-dynamic-import",
                "transform-class-properties",
                "transform-decorators-legacy"
            ]
        },
        "production": {
            "plugins": [
                "transform-react-constant-elements", 
                "transform-async-to-generator",
                "transform-runtime", 
                "transform-react-remove-prop-types",
                ["transform-object-rest-spread", { 
                    "useBuiltIns": true 
                }]
            ]
        }
    }
}